<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Grid</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/grider.css">

</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col col-12">
                <h1>Header</h1>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </header>
        <section class="row">
                <div class="col col-md-8">
                    <article>
                        <h3>Titulo Articulo</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum aliquam numquam accusantium distinctio ex repudiandae suscipit repellendus odio? Deserunt.</p>
                        <button class="btn btn-primary">
                            Ver mas.
                        </button>
                    </article>
                    <article>
                        <h3>Titulo Articulo</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum aliquam numquam accusantium distinctio ex repudiandae suscipit repellendus odio? Deserunt.</p>
                        <button class="btn btn-primary">
                            Ver mas.
                        </button>
                    </article>
                    <article>
                        <h3>Titulo Articulo</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum aliquam numquam accusantium distinctio ex repudiandae suscipit repellendus odio? Deserunt.</p>
                        <button class="btn btn-primary">
                            Ver mas.
                        </button>
                    </article>
                </div>
                <aside class="col col-12 col-md-4">
                    <div class="row">
                        <h3>Aside</h3>
                        <ul class="d-sm-flex flex-column flex-nowrap">
                            <li class="order-sm-5">Item 1</li>
                            <li class="order-sm-4">Item 2</li>
                            <li class="order-sm-1">Item 3</li>
                            <li class="order-sm-3">Item 4</li>
                            <li class="order-sm-2">Item 5</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div>
                            <h3>Anuncio</h3>
                            <p>Lorem ipsum dolor sit amet.</p>

                        </div>
                    </div>
                </aside>
            </section>
            <section class="row cubitos justify-content-around">
                <div class="col-md-3">
                    <h3>Cubitos</h3>
                    <p class="d-none d-lg-block">3 columnas</p>
                    <p class="d-none d-lg-none d-md-block">4 columnas</p>
                    <p class="d-md-none d-ms-block">12 columnas</p>
                </div>
                <div class="col-md-3">
                    <h3>Cubitos</h3>
                    <p class="d-none d-lg-block">3 columnas</p>
                    <p class="d-none d-lg-none d-md-block">4 columnas</p>
                    <p class="d-md-none d-ms-block">12 columnas</p>
                </div>
                <div class="col-md-3">
                    <h3>Cubitos</h3>
                    <p class="d-none d-lg-block">3 columnas</p>
                    <p class="d-none d-lg-none d-md-block">4 columnas</p>
                    <p class="d-md-none d-ms-block">12 columnas</p>
                </div>
            </section>
            <footer class="row ">
                <div class="col col-12 ">
                    <h3>Footer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, consequatur quaerat!</p>
                </div>
            </footer>
    </div>
</body>
</html>