<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tipografias</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Encabezado h1 | <small class="text-muted">Texto Secundario</small></h1>
                <h2>Encabezado h2 | <small class="text-muted">Texto Secundario</small></h2>
                <h3>Encabezado h3 | <small class="text-muted">Texto Secundario</small></h3>
                <h4>Encabezado h4 | <small class="text-muted">Texto Secundario</small></h4>
                <h5>Encabezado h5 | <small class="text-muted">Texto Secundario</small></h5>
                <h6>Encabezado h6 | <small class="text-muted">Texto Secundario</small></h6>
            </div>
            <div class="col">
                <p class="h1">Parrafo con estilo h1 </p>
                <p class="h2">Parrafo con estilo h2 </p>
                <p class="h3">Parrafo con estilo h3 </p>
                <p class="h4">Parrafo con estilo h4 </p>
                <p class="h5">Parrafo con estilo h5 </p>
                <p class="h6">Parrafo con estilo h6 </p>
            </div>
            <hr>
            <div class="col">
                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>
                <h1 class="display-5">Display 5</h1>
                <h1 class="display-6">Display 6</h1>
            </div>
            <div class="col">
                <p>El Siguiente parrafo tiene la clase 'leade'</p>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, nisi.</p>
            </div>
            <hr>
            <div class="col">
                <figure class="text-center">
                    <blockquote class="blockquote">
                       Yo soy un blockquote con la clase 'blockquote'  : Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </blockquote>
                    <figcaption class="blockquote-footer">
                       Mi clase es 'blockquote-footer' Lorem <cite title="Este es el titulo de la cita"> ipsum dolor </cite> sit amet.
                    </figcaption>
                </figure>
            </div>

            
            
        </div>
        <div class="row my-5">
            <div class="col col-12">
                <h3>Marcas y alineados</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Con tags</h3>
                <p>Lorem <mark>ipsum dolor</mark> sit amet consectetur.</p>
                <p><del>Lorem ipsum dolor sit amet consectetur</del>.</p>
                <p><s>Lorem ipsum dolor sit amet consectetur.</s></p>
                <p><ins>Lorem ipsum dolor sit amet consectetur.</ins></p>
                <p><u>Lorem ipsum dolor sit amet consectetur.</u></p>
                <p><strong>Lorem ipsum dolor sit amet consectetur.</strong></p>
                <p>Lorem ipsum <em>dolor sit amet</em> consectetur.</p>
            </div>
            <div class="col">
                <h3>Con clases</h3>
                <p class="fw-bold">.fw-bold --> Lorem ipsum dolor sit amet consectetur. </p>
                <p class="fw-normal">.fw-normal --> Lorem ipsum dolor sit amet consectetur. </p>
                <p class="fw-light">.fw-light --> Lorem ipsum dolor sit amet consectetur. </p>
                <p class="fst-italic">.fst-italic --> Lorem ipsum dolor sit amet consectetur. </p>
                <p class="fst-normal">.fst-normal --> Lorem ipsum dolor sit amet consectetur. </p>
                <p >.text-decoration-underline -->> <span class="text-decoration-underline">Lorem ipsum dolor sit amet consectetur. </span> </p>
                <p >.text-decoration-line-through -->> <span class="text-decoration-line-through">Lorem ipsum dolor sit amet consectetur. </span> </p>
                <a href="#" class="text-decoration-none">.text-decoration-none--->> Este es un enlace</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p class="text-start">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-end">Lorem ipsum dolor sit amet consectetur.</p>
            </div>

            <hr>
            <div class="col col-12">
                <p class="text-start text-ms-end">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-start text-md-center">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-start text-lg-end">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <hr>
            <div class="col col-12">
                <p class="text-lowercase">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-uppercase">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <hr>
            <div class="col col-6">
                <h3>Font Size .fs-#</h3>
                <p class="fs-1">Tamaño 1</p>
                <p class="fs-2">Tamaño 2</p>
                <p class="fs-3">Tamaño 3</p>
                <p class="fs-4">Tamaño 4</p>
                <p class="fs-5">Tamaño 5</p>
                <p class="fs-6">Tamaño 6</p>
            </div>
            <div class="col col-6">
                <h3>colores</h3>
                <p class="text-primary">.text-primary</p>
                <p class="text-secondary">.text-secondary</p>
                <p class="text-succes">.text-succes</p>
                <p class="text-danger">.text-danger</p>
                <p class="text-dark">.text-dark</p>
                <p class="text-body">.text-body</p>
                <p class="text-muted">.text-muted</p>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>